<!DOCTYPE html>
<html>
  <head>
    <title>Vuerailsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <hr>
    <div id="content">
      <%= yield %>
    </div>
    <hr>
    <footer>
      <p>Author: Zika<br>
    </footer>
  </body>
</html>
